<section>

  <article class="blogpost-div">

    <div class="blog-title-container">

      <div>
        <h2>{{blogpost.blog_title}}</h2>
      </div>

      <div>
        <p class="new-blogpost">Created by:
          {{user.name}}
        </p>
      </div>

    </div>

    <p class="new-blogpost-description">{{blogpost.blog_text}}</p>

  </article>

</section>

{{#if logged_in}}

<form class="create-new-comment blogpost-form" data-blogpostid={{id}}>

  <div>
    <textarea id="comment-description"></textarea>
  </div>

  <div class="create-comment">
    <button>Add Comment</button>
  </div>

</form>

{{/if}}

<h2>Comments</h2>
{{#each comments as |comment|}}

<div class="comment-div">

  <p class="comment-description">{{comment.comment_description}}</p>
  <p class="comment-user">Created by:
    {{comment.user.name}}
  </p>

</div>

{{/each}}

<script></script>