<section>

  <article>

    <div>

      <div>
        <h2>{{blogpost.blog_title}}</h2>
      </div>

      <div>
        <p>Created by:
          {{user.name}}
        </p>
      </div>

    </div>

    <p>{{blogpost.blog_title}}</p>

  </article>

</section>

{{#if logged_in}}

<form>

  <div>
    <textarea></textarea>
  </div>

  <div>
    <button>Add Comment</button>
  </div>

</form>

{{/if}}

<h2>Comments</h2>
{{#each comments as |comment|}}

<div>

  <p>{{comment.comment_description}}</p>
  <p>Created by:
    {{comment.user.name}}
  </p>

</div>

{{/each}}

<script></script>